{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Recover Password - FurniFlex</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <script defer src="{% static 'script.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
</head>

<body>
    {% include 'navbar.html' %}

    <!-- Password Reset Form -->
    <div class="signup-container">
        <div class="form-box">
            <div class="form-logo">
                <img src="{% static 'images/logofurni.png' %}" alt="FurniFlex Logo" />
            </div>
            <p class="form-subtitle" style="margin-bottom: 30px;">
                Enter your email registered in FurniFlex and we’ll send you a validation code to reset your password
            </p>
            <form method="POST">
                {% csrf_token %}
                <input type="email" placeholder="Email" name="email" required />

                <div class="form-actions" style="justify-content: center;">
                    <button type="submit">Recover Password</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        {% include 'footer.html' %}
    </div>
</body>

</html>